.plotContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.plotElem{
    width: 50vw;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 200px) and (max-width:600px) {

    .plotElem{
        width: 100vw;
        height: 380px;
    }

}